/* GLOBALS */

* {
    scrollbar-color: #ffc375 #ffdabc;
}

body {
    margin: 0;
    background-color: #411d00;
    color: #ffdabc;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {font-size: 32px;}

li {
    margin: 4px 0;
}

a {
    text-decoration: none;
    color: #ffc375;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 75%;
}

th, td {
    border: 1px solid #dfba9c;
    vertical-align: middle;
    padding: 8px;
}

.td_images * {
    display: block;
    margin: 3px auto;
}

/* FLEXBOX */

#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* BROWSER WARN */

#browserWarning {
    display: none;
    margin: 2vh 4vh;
}

/* HEADER + NAVBAR */

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 4vh;
    padding-top: 1vh;
}

#nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item a {
    display: inline-block;
    padding: 1vh 2vh;
}

/* MAIN CONTENT */

#main {
    flex: 1;
    margin: 0 4vh;
}

/* WEBRINGS */

#webrings { /* flexbox container */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
}

.webring {
    margin: 0 auto;
    padding: 15px; /* creates some space around the widget */
    padding-bottom: 0;
}

.webring table {
    background-color: #411d00;
    margin: 0 auto; /* centers the widget */
}

.webring table tr td {
    padding: 10px; /* creates some space between the links and text inside the widget */
}

.webring .webring-prev {
    text-align: right;
}

.webring .webring-info {
    text-align: center;
}

.webring .webring-next {
    text-align: left;
}

.webring .webring-links {
    font-size:small;
}

/* FOOTER */

footer {
    margin: 12px 0;
}

footer * {
    text-align: center;
    font-size: 10pt;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* MOBILE RESPONSIVENESS */

@media screen and (max-width:800px) {

    /* HEADER + NAVBAR */

    .nav-item a {
        display: inline-block;
        padding: 1vh 1vh;
    }

}
